/* Dark mode colors. */
:root {
	--sl-color-accent-low: #202525;
	--sl-color-accent: #5d6d6e;
	--sl-color-accent-high: #c4caca;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeecf6;
	--sl-color-gray-2: #c3c0cb;
	--sl-color-gray-3: #8d889d;
	--sl-color-gray-4: #595568;
	--sl-color-gray-5: #393547;
	--sl-color-gray-6: #282435;
	--sl-color-black: #19171f;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d3d8d8;
	--sl-color-accent: #5f6f70;
	--sl-color-accent-high: #2d3434;
	--sl-color-white: #19171f;
	--sl-color-gray-1: #282435;
	--sl-color-gray-2: #393547;
	--sl-color-gray-3: #595568;
	--sl-color-gray-4: #8d889d;
	--sl-color-gray-5: #c3c0cb;
	--sl-color-gray-6: #eeecf6;
	--sl-color-gray-7: #f6f5fa;
	--sl-color-black: #ffffff;
}